.fie-popup {
	min-width:300px;
	padding:20px 25px;
}
.fie-popup .button {
	margin:20px 15px 0 0;
}
.fie-popup .fie-popup-process{
	display:none;
}
.osx-safari-message{
	position:fixed;
	top:0;
	left:0;
	z-index:100000;
	padding:22px 0 0;
	width:100%;
	height:75px;
	color:#000;
	background:#FFCC00;
	border-bottom:1px solid #C1C1C1;
	text-align:center;
}
